<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Telefones de Pessoa</title>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link type="text/css" rel="stylesheet" href="/materialize/css/style.css" />
		<link type="text/css" rel="stylesheet" href="/materialize/css/materialize.css"  media="screen,projection"/>
		<link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css"  media="screen,projection"/>
	</head>
	<body>
		<nav>
			<div class="nav-wrapper">
				<a href="/index" class="brand-logo right">Logo</a>
				<ul id="nav-mobile" class="left hide-on-med-and-down">
					<li><a href="/index">Home</a></li>
					<li class="active"><a href="/cadastroPessoa">Cadastro Pessoa</a></li>
					<!--					<li><a href="collapsible.html">JavaScript</a></li>-->
				</ul>
			</div>
		</nav>

		<div class="conteudo-centralizado" th:each="p : ${pessoaobj}">
			<br/>
				<div th:each="m : ${msg}">
					<span th:text="${m}"></span>
				</div>
			<br/>
			<div class="row">
				<p>ID: <span th:text="${p.id}"></span></p>
				<p>Nome: <span th:text="${p.nome}"></span></p>
				<p>Sobrenome: <span th:text="${p.sobrenome}"></span></p>
			</div>
		</div>

		<div class="conteudo-centralizado">
			<h5>Telefones</h5>
			<form style="padding: 0 1.5rem;" class="col s12" th:action="@{/salvarTelefonePessoa/{idPessoa}(idPessoa=${pessoaobj.id})}" id="formTelefone" method="post" th:object="${telefoneobj}" onsubmit="return validarCampos()? true : false">
				<div class="row">
					<div class="input-field col s12">
						<label for="id" class="active">Id</label>
						<input name="id" id="id" th:field="*{id}" readonly>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s4">
						<label for="tipo" class="active">Tipo</label>
						<input name="tipo" class="validate" id="tipo" th:field="*{tipo}">
					</div>
					<div class="input-field col s2">
						<label for="ddd" class="active">DDD</label>
						<input name="ddd" class="validate" id="ddd" th:field="*{ddd}">
					</div>
					<div class="input-field col s6">
						<label for="numero" class="active">Número</label>
						<input name="numero" class="validate" id="numero" th:field="*{numero}">
					</div>
				</div>
				<div class="row">
					<div class="input-field col s2">
						<button class="btn waves-effect waves-light" type="submit" name="salvar">Salvar
							<i class="material-icons right">send</i>
						</button>
					</div>
					<div class="input-field col s2">
						<button class="btn waves-effect waves-light" onclick="document.getElementById('formTelefone').reset();">Novo
							<i class="material-icons right">fiber_new</i>
						</button>
					</div>
				</div>
			</form>
		</div>

		<table class="striped">
			<thead>
			<tr>
				<th>Id</th>
				<th>Tipo</th>
				<th>DDD</th>
				<th>Número</th>
				<th>Editar</th>
				<th>Excluir</th>
			</tr>
			</thead>
			<tr th:each = "telefone : ${telefones}">
				<td th:text = "${telefone.id}"></td>
				<td th:text = "${telefone.tipo}"></td>
				<td th:text = "${telefone.ddd}"></td>
				<td th:text = "${telefone.numero}"></td>
				<td><a class="btn-floating btn-small cyan pulse" th:href="@{/editarTelefone/{idTelefone}(idTelefone=${telefone.id})}"><i class="material-icons">edit</i></a></td>
				<td><a class="btn-floating btn-small cyan pulse" th:href="@{/excluirTelefone/{idTelefone}(idTelefone=${telefone.id})}"><i class="material-icons">delete</i></a></td>
			</tr>
		</table>

		<script type="text/javascript" src="/materialize/js/materialize.js"></script>
		<script type="text/javascript" src="/materialize/js/materialize.min.js"></script>

		<script type="text/javascript">
			function validarCampos(){
				numero = document.getElementById('numero').value;
				tipo = document.getElementById('tipo').value;
				ddd = document.getElementById('ddd').value;

				if(tipo == ''){
					alert('Tipo deve ser informado')
					return false;
				}

				if(ddd == ''){
					alert('DDD deve ser informado')
					return false;
				}

				if(numero == ''){
					alert('Número deve ser informado')
					return false;
				}
				return true;
			}
		</script>
    </body>
</html>